.container {
  background-color: rgba(29, 143, 158, 0.507);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 735px) {
  .card-body {
  }
}
.card-item__hover {
  opacity: 0.5;
  background: radial-gradient(#c9b6b6, #080808c4);
  z-index: 2;

  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-item {
  width: 260px;
  height: 350px;
  background-color: rgb(75, 72, 72);
  border-radius: 20px;
  margin-left: 20px;
  position: relative;
  box-shadow: 2px 2px 8px 2px #5e5353;
  background-image: linear-gradient(45deg, #d90e0e, #2016dfcf);
  cursor: url(https://emoji.gg/assets/emoji/6419_great_pokeball.png), auto;

  &:nth-child(2n + 1) {
    background-image: linear-gradient(90deg, #d90e0e, #2016dfcf);
  }
  &:hover {
    border: 2px solid #f3ff16;
    box-shadow: 2px 2px 5px 5px #4a4343;
    transition: all 0.25s linear;
  }

  &__body {
    align-items: center;
    position: absolute;
    background-color: #fff;
    width: 230px;
    height: 325px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  &__img {
    height: 255px;
    border-bottom: 2px solid black;
    width: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__info {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
  }
  &__type {
    font-size: 15px;
    color: white;
    gap: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .type-btn {
    width: 67px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.detail {
  background-color: #c5ee0d;
  cursor: pointer;
  color: rgb(66, 46, 46);
  padding: 2px;
  font-weight: bold;
  border-radius: 5px;
}
.pokemon-search {
  margin: 20px;
  color: black;
}
.pokemon-more {
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  background-image: linear-gradient(
    to right,
    rgb(65, 56, 195),
    rgb(46, 6, 226)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
