.pokemon-detail__container {
  display: flex;

  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.pokemon-detail__header {
  background-color: red;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-detail__body {
  background-color: black;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pokemon-detail__footer {
  background-color: yellow;
  height: 100px;
  width: 100%;
}
.detail-title {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
}
.detail-profile {
  width: 400px;
  height: 400px;
  background-color: #ccc;
  & img {
    width: 100%;
    object-fit: contain;
  }
}
.detail-properties {
  width: 400px;
  height: 500px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
.detail-desc {
  height: 150px;
  background-color: red;
}
.detail-info {
  height: 350px;
  background-color: #30a7d7;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.info-left {
  background-color: red;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-right {
  background-color: yellow;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-num {
  color: black;
}
