.pokemon-detail__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.pokemon-detail__header {
  background-color: red;
  height: 50px;
  width: 100%;
}
.pokemon-detail__body {
  background-color: black;
  height: 200px;
  width: 100%;
}
