.pokemon-detail__container {
  display: flex;

  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.pokemon-detail__header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.pokemon-detail__body {
  flex-wrap: wrap;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.pokemon-detail__footer {
  background-color: yellow;
  height: 100px;
  width: 100%;
}
.detail-title {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
}
.detail-profile {
  width: 400px;
  height: 400px;
  background-color: #ccc;
  & img {
    width: 100%;
    object-fit: contain;
  }
}
.detail-properties {
  width: 400px;
  height: 425px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
.detail-desc {
  height: 150px;
}
.detail-info {
  height: 230px;
  background-color: #30a7d7;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
}
.info-left {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-right {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info-num {
  color: black;
}
.type-btn {
  width: 89px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.grass {
  background-color: #9bcc50;
}
.poison {
  background-color: #b97fc9;
}
.fairy {
  background-color: #fdb9e9;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
}
