.search {
  background-color: white;
  height: 50px;
  width: 500px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-input {
  width: 250px;
}
